.community-all h2{
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 64.8px */
background: radial-gradient(70.71% 70.71% at 50% 50%, #FFF 30%, rgba(255, 255, 255, 0.50) 84.77%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: flex;
justify-content: center;
margin-top: 15px;
margin-bottom: 98px;
}

.all-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}