.all-community{
    display: flex;
}



.profile-card{
width: 486px;
height: 248px;
flex-shrink: 0;
border-radius: 10px;
border-top: 2px solid #664DFF;
border-right: 1px solid #664DFF;
border-bottom: 4px solid #664DFF;
border-left: 1px solid #664DFF;
padding-left: 20px;



 p{
margin-bottom: 71px;
color: var(--Paragraph, #77798F);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */

 }

 .portfolios-10{
  display: flex;
  gap: 90px;

    p{
color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
    }
    span{
color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 160%;
    }
 }

 .all-icons-1{
    display: flex;
    gap: 20px;
 }


}

.polygon-icon{
    display: flex;
    margin-left: 5px;
}

.user-name-2{

    margin-left: 55px;
  
   img{
   margin: 50px 0px 10px 20px;
   }
 
    p{
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
}

